:root {
  --background-color: hsl(216 16% 6%);
  --text-color: hsl(0 0% 93%);
  --outline-color: hsl(204 100% 60%);

  --header-block-size: 76px;
  --padding-inline: 18px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-block-size: 100dvh;
  animation: unlock-scroll 3.2s steps(1);
}

:focus-visible {
  outline: 2px solid var(--outline-color);
  outline-offset: 2px;
  border-radius: 5px;
}

@keyframes unlock-scroll {
  from {
    overflow-y: hidden;
  }

  to {
    overflow-y: auto;
  }
}
