.content {
  display: grid;
  grid-template-columns: repeat(var(--columns, 4), minmax(0, 1fr));
  gap: 8px;
  background-color: hsl(218 22% 7% / 0.8);
  backdrop-filter: blur(8px);
  padding: 12px;
}
