.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button.square {
  inline-size: var(--square-size);
  block-size: var(--square-size);
}

.button.primary {
  background-color: hsl(0 0% 59% / 0.2);
  border: 2px solid hsl(0 0% 100% / 0.15);
  box-shadow: 0 0 0 2px hsl(0 0 0 / 0.15);
  border-radius: 4px;
  transition: background-color 250ms, border-color 250ms;
}

.button.primary:enabled:hover {
  border-color: hsl(120 100% 45% / 0.4);
  background-color: hsl(120 100% 45% / 0.2);
}

.button.outline {
  border: 2px solid hsl(0 0% 100% / 0.15);
  border-radius: 4px;
  box-shadow: 0 0 0 2px hsl(0 0 0 / 0.15);
  transition: border-color 250ms;
}

.button.outline:enabled:hover {
  border-color: hsl(0 0% 100% / 0.3);
}

.button.outline[data-state="open"] {
  border-color: hsl(0 0% 100% / 0.5);
}
