.main {
  padding-inline: var(--padding-inline);
  padding-block-end: 60px;
  isolation: isolate;
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  max-inline-size: 500px;
  margin-inline: auto;
  backdrop-filter: blur(8px);
  background-color: hsl(0 0% 6% / 0.5);
  border: 2px solid hsl(0 0% 100% / 0.06);
  border-radius: 8px;
  overflow: hidden;
}

.characterWrapper {
  min-inline-size: 0;
}

.characterCanvas {
  max-inline-size: 450px;
  max-block-size: 560px;
  block-size: 100%;
  inline-size: 100%;
  aspect-ratio: 1 / 1.4;
  margin-inline: auto;
}

.promo {
  text-align: center;
  font-size: 14px;
  color: hsl(0 1% 72%);
  padding-block-end: 8px;
}

.promo a {
  font-weight: 500;
  transition: color 250ms;
}

.promo a:hover {
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 100dvh;
    padding-block-end: unset;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-inline-size: 1000px;
    inline-size: 100%;
    block-size: 600px;
    border-width: 3px;
  }

  .characterWrapper {
    margin-inline: unset;
  }
}
