.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-inline);
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    z-index: 10;
    inset-inline: 0;
  }
}
