.trigger {
  opacity: 0.5;
  transition: opacity 250ms;
}

.trigger:focus-visible {
  outline-offset: -4px;
  border-radius: 8px;
}

.trigger:hover,
.trigger[data-state="active"] {
  opacity: 1;
}

.content:focus-visible {
  outline-offset: -4px;
}
